{% extends "password_reset/base.html" %}{% load i18n %}
{% load bootstrap3 %}

{% block content %}


<div class="row">
    <div class="col-md-4">
        {% if invalid %}{% url "password_reset_recover" as recovery_url %}
        <p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
        {% else %}
        <p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>

        <form method="post" action='{% url "password_reset_reset" token %}'>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Set new password
            </button>
            {% endbuttons %}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
