<div ng-controller="FridgeController as vm">

    <h4 class="text-left" >Storage Capacity for {{ child.fridgeDistrict }} District</h4>
    <br>
    <br>

    <div class="col-md-7">
        <div class="page_graph">
            <nvd3 options="vm.options" data="vm.graph"></nvd3>
        </div>
    </div>
    <div class="col-md-5">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#district">District</a></li>
          <li><a data-toggle="tab" href="#facility">Facility</a></li>
        </ul>
        <br>
        <div class="tab-content">
            <div id="district" class="tab-pane fade in active">
                <table ng-table="vm.tableParamsCapacityAlldistricts" class="row-border hover table table-condensed table-striped" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td title="'District'" sortable="'facility__district'" filter="{facility__district: 'text'}"  >{{row.facility__district}}</td>
                        <td title="'Required'" sortable="'required'"  class="text-center">{{row.required | number : 0 }}</td>
                        <td title="'Available'" sortable="'available'" class="text-center">{{row.available | number : 0 }}</td>
                        <td title="'Gap'" sortable="'difference'" class="text-center">{{(row.difference)| number : 0 }}</td>
                    </tr>
                </table>
            </div>

            <div id="facility" class="tab-pane fade">
                <table ng-table="vm.tableParams_f" class="row-border hover table table-condensed table-striped" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td title="'Facility'" sortable="'facility__name'" filter="{facility__name: 'text'}"  >{{row.facility__name}}</td>
                        <td title="'Required'" sortable="'required'"  class="text-center">{{row.required | number : 0 }}</td>
                        <td title="'Available'" sortable="'actual'" class="text-center">{{row.actual | number : 0 }}</td>
                        <td title="'Gap'" sortable="'difference'" class="text-center">{{row.difference | number : 0 }}</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

    <div class="text-right">
         <div class="test-area clearfix">

         <h3 class="text-center">SITES WITH SUFFICIENT (*) CAPACITY</h3>
            <div class="quality_test text-center" ui-sref-active="quality_test_active">
                <a ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">{{ child.utsurp }} </span>
                    <span class="quality_test__description">{{"With Surplus Capacity" }}</span>
                </a>
            </div>

            <div class="quality_test text-center" ui-sref-active="quality_test_active">
                <a ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">{{ child.utsufficient}}</span>
                    <span class="quality_test__description">{{"With Sufficient Capacity" }}</span>
                </a>
            </div>
            <div class="quality_test text-center" ui-sref-active="quality_test_active">
                <a ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">{{ child.utshortage}}</span>
                    <span class="quality_test__description">{{"With a Shortage"}}</span>
                </a>
            </div>


         </div>

    </div>

</div>
