<div ng-controller="FridgeController as vm">

    <h4 class="text-left" >Available Capacity</h4>
    <br>
    <br>

    <div class="col-md-7">
        <div class="page_graph">
            <nvd3 options="vm.options" data="vm.graph"></nvd3>
        </div>
    </div>
    <div class="col-md-5">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#district">District</a></li>
          <li><a data-toggle="tab" href="#facility">Facility</a></li>
        </ul>
        <br>
        <div class="tab-content">
            <div id="district" class="tab-pane fade in active">
                <table ng-table="vm.tableParamsCapacityAlldistricts" class="row-border hover table table-condensed table-striped" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td title="'District'" sortable="'facility__district'" filter="{facility__district: 'text'}"  >{{row.facility__district}}</td>
                        <td title="'Required'" sortable="'required'"  class="text-center">{{row.required | number : 2 }}</td>
                        <td title="'Available'" sortable="'available'" class="text-center">{{row.available | number : 2 }}</td>
                        <td title="'Gap'" sortable="'gap'" class="text-center">{{row.gap | number : 2 }}</td>
                    </tr>
                </table>
            </div>

            <div id="facility" class="tab-pane fade">
                <table ng-table="vm.tableParams_f" class="row-border hover table table-condensed table-striped" show-filter="true">
                    <tr ng-repeat="row in $data">
                        <td title="'Facility'" sortable="'facility__name'" filter="{facility__name: 'text'}"  >{{row.facility__name}}</td>
                        <td title="'Required'" sortable="'required'"  class="text-center">{{row.required | number : 2 }}</td>
                        <td title="'Available'" sortable="'available'" class="text-center">{{row.available | number : 2 }}</td>
                        <td title="'Gap'" sortable="'gap'" class="text-center">{{row.gap | number : 2 }}</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>


</div>
