<div ng-controller="FridgeController as vm">

    <h4 class="text-left" >Functionality</h4>
    <br>
    <br>

    <div class="col-md-6">
        <div class="page_graph">
            <nvd3 options="vm.options" data="vm.graph"></nvd3>
        </div>
    </div>
    <div class="col-md-6">
        <table ng-table="vm.tableParamsImmunizingAlldistricts" class="row-border hover table table-condensed table-striped" show-filter="true">
            <tr ng-repeat="row in $data">
                <td title="'District'" sortable="'facility__district'" filter="{facility__district: 'text'}"  >{{row.facility__district}}</td>
                <td title="'ImmunizingF'" sortable="'immunizing'"  class="text-center">{{row.immunizing}}</td>
                <td title="'cc'" >{{ (row.immunizing/row.Total_facilities)*100 | number:0}}%</td>
            </tr>
        </table>

    </div>


</div>