<div ng-controller="MainController as shell">

    <div class="row range_filter">

        <div class="filter-title col-md-12">
            <span class="filter-title h3">FILTERS</span>
        </div>

        <div class="col-md-12 main-filters">
            <select name="name" class="form-control filter criteria-select" ng-model="shell.startQuarter"
                ng-options="quarter.value as quarter.name for quarter in shell.fridgeQuarters">
            </select>
        <div class="spacer">
            <h5 class="text-center"> - </h5>
        </div>
            <select name="quarter" class="form-control filter criteria-select" ng-model="shell.endQuarter"
                    ng-options="quarter.value as quarter.name for quarter in shell.fridgeQuarters">
            </select>
        <div class="spacer">
            <h5 class="text-center"> - </h5>
        </div>
            <select name="fridgeDistrict" class="form-control filter criteria-select" ng-model="shell.selectedFridgeDistrict"
                    ng-options="fridgeDistrict as fridgeDistrict.district for fridgeDistrict in shell.fridgeDistricts">
            </select>
        <div class="spacer">
            <h5 class="text-center"> - </h5>
        </div>
            <select name="CARE LEVEL" class="form-control filter criteria-select" ng-model="shell.selectedFridgeCareLevel"
                    ng-options="carelevel as carelevel.group for carelevel in shell.fridgeCareLevels">
            </select>
        </div>
    </div>


    </div>
    <div class="row">
        <div class="col-md-12">
         <h3>KEY METRICS</h3>
            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="fridge.facilities" ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric"> 0 {{ child.child.myname }} </span>
                    <span class="quality_test__description">{{"IMMUNIZING FACILITIES" }}</span>
                </a>
            </div>

            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="fridge.workingstatus"  ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric"> 0 {{ child.endQuarter }}</span>
                    <span class="quality_test__description">{{"FUNCTIONALITY" }}</span>
                </a>
            </div>
            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="fridge.capacity"  ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric"> 0</span>
                    <span class="quality_test__description">{{"AVAILABLE CAPACITY"}}</span>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="test-area clearfix">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
