<div ng-controller="MainController as shell">

    <div class="row range_filter">

        <div class="filter-title col-md-12">
            <span class="filter-title h3">FILTERS</span>
        </div>
        <br>

        <div class="col-md-12 main-filters">
            <div>
                Start Quarter<br>
                <select name="name" class="form-control filter criteria-select" ng-model="shell.startQuarter"
                    ng-options="quarter.value as quarter.name for quarter in shell.fridgeQuarters">
                </select>
            </div>
        <div class="spacer">
            <h5 class="text-center"> - </h5>
        </div>
            <div>
                End Quarter<br>
                <select name="quarter" class="form-control filter criteria-select" ng-model="shell.endQuarter"
                    ng-options="quarter.value as quarter.name for quarter in shell.fridgeQuarters">
                </select>
            </div>
        <div class="spacer">
            <h5 class="text-center"> - </h5>
        </div>
            <div>
                District<br>
                <select name="fridgeDistrict" class="form-control filter criteria-select" ng-model="shell.selectedFridgeDistrict"
                    ng-options="fridgeDistrict as fridgeDistrict.district for fridgeDistrict in shell.fridgeDistricts">
                </select>
            </div>
        <div class="spacer">
            <h5 class="text-center"> - </h5>
        </div>
            <div>
                Care Level<br>
                <select name="CARE LEVEL" class="form-control filter criteria-select" ng-model="shell.selectedFridgeCareLevel"
                    ng-options="carelevel as carelevel.group for carelevel in shell.fridgeCareLevels">
                </select>
            </div>
        </div>
    </div>


    </div>
    <div class="row">

        <div class="col-md-12">
         <h3>KEY METRICS</h3>
            <br>
            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="fridge.facilities" ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">{{ child.facility }} </span>
                    <span class="quality_test__description">{{"IMMUNIZING FACILITIES" }}</span>
                </a>
            </div>

            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="fridge.workingstatus"  ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">{{ child.functionality | number:0}}%</span>
                    <span class="quality_test__description">{{"FUNCTIONALITY" }}</span>
                </a>
            </div>
            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="fridge.capacity"  ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">{{ child.available | number:0 }}</span>
                    <span class="quality_test__description">{{"CAPACITY (L)"}}</span>
                </a>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="test-area clearfix">
                <div ui-view></div>
            </div>
        </div>

    </div>

</div>
