body {
    padding-right: 0px;
    margin-top: 0px;
    padding-top: 0px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6, th {
    letter-spacing: 0;
}

#main-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;

    background: #fff url(../images/flag-ug.png) repeat-x;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
}

#header {
    padding-top: 20px;
    padding-bottom: 10px;
}

#site-name {
    padding-top: 30px;
    text-align: center;
}

#main-nav {
    background: #000;
    margin-bottom: 20px;
    font-size: 13px;
}

#main-nav  .nav > li  > a {
    color: #EDB88B;
    font-weight: bold;
}

.navbar-right {
    margin-right: 10px;
}

#main-nav .nav > li > a:hover,
#main-nav .nav > li > a:focus {
    color: #FFCC00;
    background: #000;
}

.quality_test_active {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px;
    margin-bottom: -2px;
    margin-top: 1px;
    z-index: 900;
    background: #fff;
}

.quality_test {
    text-align: center;
    padding-top: 10px;
}

.quality_test__description {
    letter-spacing: 0;
    padding-bottom: 10px;
}

.quality_test .quality_test__metric {
    font-size: 30px;
}

.test-area {
    border-width: 1px;
    min-height: 620px;
}

.range_filter .filter-field {
    float: left;
    width: 16.66666667%;
    color: #6F6F6F;
}

.criteria-select {
    width: 100%;
    margin-top: 5px;
}

.heading {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 20;
}

.heading h5 {
    font-weight: bold;
    color: #333;
    letter-spacing: 0;
}

.spacer {
    width: 0;
    padding:0;
    padding-right: 5px;
}


/*The toggles*/
.toggle-row {
    text-align: center;
    margin-bottom: 50px;
}

.reg_toggle{
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #F44336
}

.reg_toggle span {
    padding-left: 8px;
    padding-right: 8px;
}

.reg_toggle>.active{
    background-color:#F44336;
    color:#FFF;
    padding-top: inherit;
    padding-bottom: inherit;
}

.reg_toggle>.active{
    /*margin-right: -5px;*/
}


#chart-container {
    position: relative;
    min-height: 450px;
}

.map-placeholder {
    height: 450px;
    padding-top: 200px;
    font-size: 16px;
    font-weight: bold;
}

#map {
    margin-left: 20px;
}

#map #tooltip {
    text-align: center;
}

#gend .swatch {
    border: #333 1px solid;
}

#gend .legendCells .cell {
    font-size: 14px;
}

.map-container {
    position: relative;
}

.map-container #gend {
    position: absolute;
    width: 155px;
    left: -35px;
    top: 130px;
    overflow: hidden;
}

#pdfReport {
    background-color: #fff;
}

#chart-container h4, #map-container h4 {
    line-height:20px;
    width: 450px;
}

#annualCoverageChart svg, .center-chart svg {
    margin: auto;
}

/* Remove the dark tick on the x-axis */
/*.nvd3 .tick line {
    stroke: none;
}*/

.unepiPrint {
    background: #fff url(../images/flag-ug.png) repeat-x scroll bottom;
}

#unepi-print-header {
    padding-top: 20px;
    margin-bottom: 20px;
}

.unepi-print-footer {
    padding: 20px;
    margin: 20px;
}

.unepiPrint img {
    width: 80px;
}
