<div ng-controller="MainFinanceController as vm">
    <div class="pull-left">
        <input type="radio" name="currency" value="USD" ng-model="vm.graphCurrency"/> USD &nbsp;
        <input type="radio" name="currency" value="UGX" ng-model="vm.graphCurrency" /> UGX
        <br>
        <small><input type="checkbox" ng-model="vm.compactAmounts"/> Compact Amounts</small>
    </div>
    
    <button class="pull-right" ng-click="vm.exportPDF('finance-allocations-report.pdf')">Download Pdf</button>
    <div style="clear:both;"></div>
    
    <div class="row toggle-row" >
        <span class='reg_toggle'>
            <span class=' toggle-option'
                ng-class='{active: vm.activeToggle == "GAVI"}'
                ng-click='vm.activeToggle = "GAVI"'>GAVI FUNDS</span>

            <span class='toggle-option'
                ng-class='{active: vm.activeToggle == "GOU"}'
                ng-click='vm.activeToggle = "GOU"'>GOU FUNDS</span>
        </span>
    </div>

    

    <div id="pdfReport" ng-class="vm.printView ? 'unepiPrint' : ''">
        <div class="text-center">
            <br><br>
            <h4 style="width: 100%;">Approved Vs Disbursed ({{ vm.activeToggle }})</h4>
            <br><br>
            <nvd3
                options="vm.graphOptions"
                data="vm.allocGraphData"
                class="center-chart">
            </nvd3>
        </div>
        <div style="clear:both;"></div>
        
        <div class="text-center unepi-print-footer" ng-show="vm.printView">
            <i>This report has been extracted from the Ministry of health UNEPI dashboard.</i>
        </div>
    </div>

</div>
