<div ng-controller="ConsumptionController as vm">

    <h4 class="text-center" >Consumption for {{child.vaccine }} for {{child.district }}</h4>

    <div class="col-md-6">
        <div class="page_graph">
            <nvd3 options="vm.options" data="vm.graph"></nvd3>
        </div>
    </div>
    <div class="col-md-6">
        <table ng-table="vm.tableParams" class="row-border hover table table-condensed table-striped" show-filter="true">
            <tr ng-repeat="row in $data">
                <td title="'Months'" sortable="'period'"  >{{row.period}}</td>
                <td title="'Actual Consumption'" sortable="consumed"  class="text-center">{{row.consumed | number:0}}</td>
                <td title="'Planned Consumption'" class="text-center">{{row.stock_requirement__target }}</td>
            </tr>

        </table>
    </div>


</div>
