<div ng-controller="StockController">
    <h4 class="text-center">STOCK ON HAND</h4>
    <div class="col-md-6">
        <div class="page_graph">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
    <div class="col-md-6">

           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

        <table ng-table="tableParams" class="table" show-filter="false">
            <tr ng-repeat="district in $data">
                <td title="'District'" sortable="'district'">{{district.district}}</td>
                <td title="'Units'" sortable="'value'">{{district.value}}</td>
            </tr>
        </table>
    </div>
</div>