<div ng-controller="UptakeRateController as vm">

    <h4 class="text-center" >Uptake Rate for {{child.vaccine }} for {{child.district }}</h4>

    <div class="col-md-12">
        <div class="page_graph">
            <nvd3 options="vm.options" data="vm.graph"></nvd3>
        </div>
    </div>
    <div class="col-md-12">

       <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" data-ng-model="searchDistrict">
                </div>
       </div>

       <table ng-table="vm.tableParams" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data | filter:searchDistrict">
                <td title="'Month'" sortable="'period'"  >{{row.period}}</td>
                <td title="'Consumption'" sortable="'consumed'" >{{row.consumed | number:0}}</td>
                <td title="'Received'" sortable="'received'" >{{row.received | number:0}}</td>
                <td title="'Uptake Rate'" sortable="''" >{{(row.consumed/row.received)*100 | number:0}}%</td>
                <td title="'Min'" sortable="'stock_requirement__minimum'" >{{row.stock_requirement__minimum}}</td>
                <td title="'Max'" sortable="'stock_requirement__maximum'" >{{row.stock_requirement__maximum}}</td>
            </tr>

        </table>
    </div>


</div>