<div ng-controller="StockController as vm">

    <h4 class="text-left" >Uptake Rate of {{child.vaccine }} for {{child.district }}</h4>

    <div class="col-md-7">
        <div class="page_graph">
            <nvd3 options="vm.optionsUptake" data="vm.graphUptake"></nvd3>
        </div>
    </div>
    <div class="col-md-5">

      <table ng-table="vm.tableParamsAlldistricts" class="row-border hover table table-condensed table-striped" show-filter="true">
          <tr ng-repeat="row in $data">
              <td title="'District'" sortable="'district_name'" filter="{district_name: 'text'}" >{{row.district_name}}</td>
              <td title="'Children Immunized'" sortable="'consumed'" class="text-center" >{{row.consumed | number:0}}</td>
              <td title="' Available Stock'" sortable="'available_stock'" class="text-center" >{{row.available_stock | number:0}}</td>
              <td title="'Uptake'" sortable="'uptake_rate'"  >{{row.uptake_rate}}%</td>
           </tr>

      </table>
    </div>


</div>