<div ng-controller="UnepiController as vm">

    <table class="row-border hover table table-condensed table-striped">
                <td>
                    <h4 class="text-center">{{child.district }} Immunisation Performance Report for {{child.periodMonth}} </h4>
                </td>
            </table>

        <h4 class="text-center">COVERAGE</h4>
 <div class="col-md-6">

        <table ng-table="vm.tableParamsDoses" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'Antigen'">{{row.vaccine }}</td>
                <td title="'Planned monthly immunisations'" class="text-center" >{{row.planned_consumption }}</td>
                <td title="'Monthly Coverage'" class="text-center" >{{row.coverage_rate | number:0 }}%</td>
                <td title="'Annulised Coverage'" class="text-center" >{{row.avoc | number:0 }}%</td>
            </tr>
        </table>

    </div>
    <br>
    <div class="col-md-6">
        <div class="col-md-6">
            <table class="row-border hover table table-condensed table-striped">
                <td>
                    <span class="quality_test__description">{{"Drop Out Rate DPT1-3"}}</span>
                    <span class="quality_test__metric"> {{child.dropout_Penta | number:0 }}% </span>
                </td>
            </table>
        </div>
        <div class="col-md-6">
        <table class="row-border hover table table-condensed table-striped">
                <td>
                    <span class="quality_test__description">{{"Drop Out Rate HPV1-2"}}</span>
                    <span class="quality_test__metric"> {{child.dropout_hpv | number:0 }}% </span>
                </td>
            </table>
        </div>
        <div>
            <table class="row-border hover table table-condensed table-striped">
                <td>
                    <span class="quality_test__description">{{"dpt3-pcv3 gap" | uppercase}}</span>
                    <span class="quality_test__metric"> {{child.Gap | number:0 }}% </span>
                </td>
            </table>

        </div>
        <div>
            <table class="row-border hover table table-condensed table-striped">
                <td>
                    <span class="quality_test__description">{{"RED CATEGORY" }}</span>
                    <span class="quality_test__metric"> CAT{{child.category}} </span>
                </td>
            </table>
        </div>
        <br>
        <br>

        <span class="quality_test__description">
            <br>
        <br>
        </span>


    </div>
    <h4 class="text-center">STOCK MANAGEMENT</h4>

    <div class="col-md-6">
        <table ng-table="vm.tableParamsStock" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'ANTIGEN'">{{ row.vaccine }}</td>
                <td title="'Months Of Stock'" class="text-center" >{{ row.Months_stock }}</td>
                <td title="'Refill Rate By NMS'" class="text-center" >{{row.Refill_rate| number:0  }}%</td>
                <td title="'Vaccine Utilised'" class="text-center" >{{ row.uptake_rate | number:0 }}%</td>
            </tr>
        </table>

    </div>

    <br>
    <div class="col-md-6">

         <table class="row-border hover table table-condensed table-striped">
                <td>
                    <span class="quality_test__description">{{"Number Of Antigens Stocked Out" }}</span>
                    <span class="quality_test__metric"> {{child.Antigen_stockedout}} </span>
                </td>
         </table>
    </div>
</div>