<div ng-controller="UnepiController as vm">

    <br>
    <br>
    <div class="col-md-6">
        <h4 class="text-center">COVERAGE</h4>
        <br>
        <br>
        <table ng-table="vm.tableParamsDoses" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'Antigen'">{{row.vaccine__name }}</td>
                <td title="'Planned monthly immunisations'">{{row.planned_consumption }}</td>
                <td title="'Monthly Coverage'">{{row.coverage_rate | number:0 }}%</td>
                <td title="'Annulised Coverage'">{{}}%</td>
            </tr>
        </table>

    </div>

    <div class="col-md-6">
        <div class="col-md-5">
        <table ng-table="vm.tableParams_penta" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'Drop Out Rate DPT1-3'">{{ row.drop_out_rate | number:0 }}%</td>
            </tr>

        </table>
        </div>
        <div class="col-md-5">
        <table ng-table="vm.tableParams_HPV" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'Drop Out Rate HPV1-2'">{{ row.drop_out_rate | number:0 }}%</td>
            </tr>

        </table>

        </div>
        <div>
        <table ng-table="vm.tableParamsDoses1" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'PCV-PENTA GAP'">{{  }}%</td>

            </tr>
        </table>

        </div>
        <div>
        <table ng-table="vm.tableParamsDoses2" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'RED CATEGORY'">{{ row.Red_category }}</td>

            </tr>
        </table>

        </div>

    </div>

    <div class="col-md-6">
        <h4 class="text-center">STOCK MANAGEMENT</h4>
        <br>
        <br>
        <table ng-table="vm.tableParamsAlldistricts" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'ANTIGEN'"></td>
                <td title="'Months Of Stock'"></td>
                <td title="'Refill Rate By NMS'"></td>
                <td title="'Vaccine Utilised'"></td>
            </tr>
        </table>

    </div>

    <div class="col-md-6">

        <table ng-table="vm.tableParamsAlldistricts" class="row-border hover table table-condensed table-striped" show-filter="true">

            <tr ng-repeat="row in $data">
                <td title="'Number Of Antigens Stocked Out'"></td>

            </tr>
        </table>
    </div>


</div>