<div ng-controller="MainController as shell">

    <div class="row range_filter" style="align-content: center">
        <div class="filter-title col-md-12">
            <span class="filter-title h3">YEAR</span>
        </div>

        <div class="col-md-12 main-filters">
            <select name="year" class="form-control filter criteria-select" ng-model="shell.selectedYear"
                    ng-options="year as year.year for year in shell.years">
            </select>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="quality_test" ui-sref-active="quality_test_active">
                <a ui-sref="planning.awp" ui-sref-opts="{reload: true}">
                    <span class="quality_test__metric">  </span>
                    <span class="quality_test__description">{{"Planned Activities" | uppercase}}</span>
                </a>
            </div>


        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="test-area clearfix">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>
