<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="row text-center score-header">
                <span class="score_detail_title">{{result.test}} </span>
            </div>
            <hr>
            <div class="facility-detail">
                <div class="score-location-item">
                    <span class="text-up">{{score.name}}</span>
                    <span class="text-down">FACILITY</span>
                </div>
                <div class="score-location-item">
                    <span class="text-up">{{score.district}}</span>
                    <span class="text-down">DISTRICT</span>
                </div>
                <div class="score-location-item">
                    <span class="text-up">{{score.warehouse}}</span>
                    <span class="text-down">WAREHOUSE</span>
                </div>
                <div class="score-location-item">
                    <span class="text-up">{{score.ip}}</span>
                    <span class="text-down">IP</span>
                </div>
                <div class="score-location-item">
                    <span class="text-up">{{score.cycle}}</span>
                    <span class="text-down">CYCLE</span>
                </div>
                {% if result.has_combination %}
                <div class="score-location-item">
                    <span class="text-up">{{score.combination}}</span>
                    <span class="text-down">FORMULATION</span>
                </div>
                {% endif %}

                <div class="score-location-item omega score-{{result.result}}">
                    <span class="text-up">{{result.result}}</span>
                    <span class="text-down">RESULT</span>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                {% block content %}
                {% endblock %}
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>



