{% extends "check/base.html" %}

{% block content %}
    <span class="score_detail_data_title col-md-12">{{ data.main_title }}</span>
    <div class="row">
        <div class="col-md-6">
        <h5>CONSUMPTION</h5>
        {% for c in data.consumption %}

            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{{ c.name }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in c.records %}
                    <tr>
                            {% if item.isHeader %}
                            <th>{{ item.column }}</th>
                            <th>{{ item.value }}</th>
                        {% else %}
                            <td>{{ item.column }}</td>
                            <th>{{ item.value }}</th>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h5>PATIENTS</h5>
        {% for pat in  data.patients %}

            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{{ pat.name }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in pat.records %}
                    <tr>
                        {% if item.isHeader %}
                            <th>{{ item.column }}</th>
                            <th>{{ item.value }}</th>
                        {% else %}
                            <td>{{ item.column }}</td>
                            <th>{{ item.value }}</th>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    </div>
    <div class="row">
        <span class="score_detail_data_title">Conversion Ratio (packs per patient, bimonthly)</span>
    </div>
    <div class="row">
        <div class="col-md-6">

        <table class="table table-striped table-bordered table-condensed">
            <tbody>
            {% for item in  data.packs %}
                <tr>
                        {% if item.isHeader %}
                            <th class="left">{{ item.column }}</th>
                            <th>{{ item.value }}</th>
                        {% else %}
                            <td>{{ item.column }}</td>
                            <th>{{ item.value }}</th>
                        {% endif %}

                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <span class="score_detail_data_title">ESTIMATED CURRENT PATIENTS</span>
        </div>
        <div class="col-md-6">

            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>From Consumption Data</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for item in data.consumption_totals %}
                    <tr>
                        {% if item.isHeader %}
                            <th class="left">{{ item.column }}</th>
                            <th>{{ item.value }}</th>
                        {% else %}
                            <td>{{ item.column }}</td>
                            <th>{{ item.value }}</th>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>From Patient Data</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for item in  data.patient_totals %}
                    <tr>
                        {% if item.isHeader %}
                            <th>{{ item.column }}</th>
                            <th>{{ item.value }}</th>
                        {% else %}
                            <td>{{ item.column }}</td>
                            <th>{{ item.value }}</th>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}