{% extends "check/base.html" %}

{% block content %}
    <span class="score_detail_data_title col-md-12">{{ data.main_title }}</span>
    {% for formulation in data.formulations %}
        <div class="col-md-offset-2 col-md-8">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ formulation.name }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for record in formulation.records %}
                    <tr>
                        <td>{{ record.column }}</td>
                        <th>{{ record.value }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}