{% extends "layout.html" %}

{% block content %}
<div class="container">
<h3>HOW THE TOOL CAN BE USED</h3>
<ul>
    <li>
        Through the system’s chart and table displays the user is able to identify thematic ARV order quality issues (e.g. data volatility, guideline adherence) that require attention
    </li>
    <li>
        More importantly, however, the user is also equipped to delve deeper into a further layer of strategic insight. The system enables an understanding of, e.g., the extent of each ordering issue, whether performance is improving or worsening over time, and which facilities, IPs, districts and warehouses are performing poorly and thus require specific attention
    </li>
    <li>
        The ultimate goal is that this knowledge and information is then used by you, the user, with support from other partners and the MoH, to go out to your facilities and guide them in a focused improvement of ordering practices
    </li>
</ul>



</div>
{% endblock content %}
