{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<div class="container generic-import">
    <h3>{{ title }}</h3>
    <hr/>
    <form action="" method="post" class="form" enctype='multipart/form-data'>
        <table width="90%">
            {% csrf_token %}
            {{ form }}
            <tr>
                <td>&nbsp;</td>
                <td><button type="submit" class="btn btn-primary">Import</button></td>
            </tr>

        </table>
    </form>
</div>
{% endblock content %}
