{% extends 'base.html' %}

{% block title %}Import Data{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-home"></i> Dashboard</a>
                </li>
                <li class="active">
                    Import Data
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Bulk Imports
                </header>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="{% url 'facilities:import' %}">All Facility Import</a>
                        </li>
                        <li>
                            <a href="{% url 'facilities:budget-import' %}">All Facility Budget Import</a>
                        </li>
                        <li><a href="{% url 'items:import' %}">Item List Import</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Plan and Order Imports
                </header>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="{% url 'orders:import' %}">Plan/Order Import</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock %}