{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'dcjs/dc.css' %}">
    <script type="text/javascript" src="{% static 'crossfilter/crossfilter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lodash/lodash.js' %}"></script>
    <style>
        a:hover, a:focus {
            color: #1FB5AD;
            text-decoration: underline;
        }
    </style>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'highcharts-release/highcharts-more.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sparkline/jquery.sparkline.js' %}"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
    <h2>Performance Dashboard</h2>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel tab-bg-dark-navy-blue">
                <div class="panel-heading">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#stockonhand" role="tab" data-toggle="tab" class="general-dash-link">STOCK ON
                                HAND </a>
                        </li>
                        <li>
                            <a href="#amc" role="tab" data-toggle="tab" class="orders-dash-link">AMC</a>
                        </li>
                        <li>
                            <a href="#monthsleft" role="tab" data-toggle="tab" class="budget-dash-link">MONTHS OF STOCK
                                LEFT</a>
                        </li>
                        <li>
                            <a href="#updaterate" role="tab" data-toggle="tab" class="budget-dash-link">STOCK UPTAKE
                                RATE</a>
                        </li>
                        <li>
                            <a href="#wastagerate" role="tab" data-toggle="tab" class="budget-dash-link">WASTAGE
                                RATE</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="stockonhand">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Vaccine Stock on Hand</h4>






                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>DISTRICT</h4>
                                            <h4>FACILITIES</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="amc">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            Deviations are calculated on a per-item basis using quantity. Ordered items
                                            are within bounds when the ordered quantity is 80 - 120% of the planned
                                            quantity.
                                            Orders that exceed plans by more than 120% are "over", and orders that are
                                            less than 80% of plans are "under". <strong>Based on past 12 month
                                            data.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="monthsleft">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            Deviations are calculated using Budget ceiling divided by number of cycles.
                                            Budget spent is within bounds when the budget is 90 - 110% of cycle budget.
                                            Budget that exceed a cycle budget by more than 110% are "over", and Budget
                                            that are less than 90% of a cycle budget are "under".
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="updaterate">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            Deviations are calculated using Budget ceiling divided by number of cycles.
                                            Budget spent is within bounds when the budget is 90 - 110% of cycle budget.
                                            Budget that exceed a cycle budget by more than 110% are "over", and Budget
                                            that are less than 90% of a cycle budget are "under".
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-4">
                                                <div id="bgt-ccr-chart">
                                                    <h4 class="text-center">CCR Region <a class="reset"
                                                                                          href="javascript:bgtCcrChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                          style="display: none;">
                                                        reset</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div id="bgt-cycle-chart">
                                                    <h4 class="text-center">Cycle <a class="reset"
                                                                                     href="javascript:bgtCycleChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                     style="display: none;"> reset</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div id="bgt-level-chart">
                                                    <h4 class="text-center">Level <a class="reset"
                                                                                     href="javascript:bgtLevelChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                     style="display: none;"> reset</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <a class="pull-right reset_all"
                                               href='javascript:dc.filterAll("budgetGroup"); dc.renderAll("budgetGroup");'>Reset
                                                All</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <a class="pull-right reset_all"
                                               href='javascript:dc.filterAll("budgetGroup"); dc.renderAll("budgetGroup");'>Reset
                                                All</a>

                                            <div class="col-md-3">
                                                <div id="bgt-yearly-bar-chart">
                                                    <h4 class="text-center">Average Deviation <a class="reset"
                                                                                                 href="javascript:bgtYearlyBarChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                                 style="display: none;">
                                                        reset</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="bgt-deviation-chart">
                                                    <h4 class="text-center">Budget/Utilization Deviation <a
                                                            class="reset"
                                                            href="javascript:bgtDeviationChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                            style="display: none;"> reset</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="text-center">Budget Deviation and Total Budget Volume</h4>

                                                <div id="bgt-monthly-dev-chart"></div>

                                                <div id="bgt-order-volume-chart"></div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="">
                                                <div id="bgt-data-count" class="dc-bgt-data-count pull-right">
                                                    <span class="filter-count"></span> selected out of <span
                                                        class="total-count"></span> records. <a
                                                        href='javascript:dc.filterAll("budgetGroup"); dc.renderAll("budgetGroup");'>Reset
                                                    All</a>
                                                </div>
                                                <h4>Issues with Highest and Lowest Issues/Plan Deviation</h4>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table id="bgt-data-table" class="dc-bgt-data-table table">
                                                            <thead>
                                                            <tr class="header">
                                                                <th>Cycle</th>
                                                                <th>Facility</th>
                                                                <th>Deviation</th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <table id="bgt-data-table-low"
                                                               class="dc-lowest-bgt-data-table table">
                                                            <thead>
                                                            <tr class="header">
                                                                <th>Cycle</th>
                                                                <th>Facility</th>
                                                                <th>Deviation</th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="wastagerate">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            Deviations are calculated using Budget ceiling divided by number of cycles.
                                            Budget spent is within bounds when the budget is 90 - 110% of cycle budget.
                                            Budget that exceed a cycle budget by more than 110% are "over", and Budget
                                            that are less than 90% of a cycle budget are "under".
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-4">
                                                <div id="bgt-ccr-chart">
                                                    <h4 class="text-center">CCR Region <a class="reset"
                                                                                          href="javascript:bgtCcrChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                          style="display: none;">
                                                        reset</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div id="bgt-cycle-chart">
                                                    <h4 class="text-center">Cycle <a class="reset"
                                                                                     href="javascript:bgtCycleChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                     style="display: none;"> reset</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div id="bgt-level-chart">
                                                    <h4 class="text-center">Level <a class="reset"
                                                                                     href="javascript:bgtLevelChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                     style="display: none;"> reset</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <a class="pull-right reset_all"
                                               href='javascript:dc.filterAll("budgetGroup"); dc.renderAll("budgetGroup");'>Reset
                                                All</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <a class="pull-right reset_all"
                                               href='javascript:dc.filterAll("budgetGroup"); dc.renderAll("budgetGroup");'>Reset
                                                All</a>

                                            <div class="col-md-3">
                                                <div id="bgt-yearly-bar-chart">
                                                    <h4 class="text-center">Average Deviation <a class="reset"
                                                                                                 href="javascript:bgtYearlyBarChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                                                                 style="display: none;">
                                                        reset</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="bgt-deviation-chart">
                                                    <h4 class="text-center">Budget/Utilization Deviation <a
                                                            class="reset"
                                                            href="javascript:bgtDeviationChart.filterAll('budgetGroup');dc.redrawAll('budgetGroup');"
                                                            style="display: none;"> reset</a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="text-center">Budget Deviation and Total Budget Volume</h4>

                                                <div id="bgt-monthly-dev-chart"></div>

                                                <div id="bgt-order-volume-chart"></div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="">
                                                <div id="bgt-data-count" class="dc-bgt-data-count pull-right">
                                                    <span class="filter-count"></span> selected out of <span
                                                        class="total-count"></span> records. <a
                                                        href='javascript:dc.filterAll("budgetGroup"); dc.renderAll("budgetGroup");'>Reset
                                                    All</a>
                                                </div>
                                                <h4>Issues with Highest and Lowest Issues/Plan Deviation</h4>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <table id="bgt-data-table" class="dc-bgt-data-table table">
                                                            <thead>
                                                            <tr class="header">
                                                                <th>Cycle</th>
                                                                <th>Facility</th>
                                                                <th>Deviation</th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <table id="bgt-data-table-low"
                                                               class="dc-lowest-bgt-data-table table">
                                                            <thead>
                                                            <tr class="header">
                                                                <th>Cycle</th>
                                                                <th>Facility</th>
                                                                <th>Deviation</th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}