{% load staticfiles %}
{% load menu %}{% generate_menu %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccines Dashboard</title>
    <link rel="stylesheet" href='{% static "css/app.css" %}'>
    <link rel="stylesheet" href='{% static "js/ui-select/select.css" %}'>
    <link rel="stylesheet" href='{% static "js/ui-select/selectize.css" %}'>
    <link rel="stylesheet" href='{% static "js/ui-select/selectize.bootstrap3.css" %}'>
    <link rel="stylesheet" href='{% static "css/datatables.css" %}'>
    <link rel="stylesheet" href='{% static "vendor/angular-chart.js/dist/angular-chart.css" %}'>
    <link rel="stylesheet" href='{% static "vendor/c3/c3.css"%}' />
    <link rel="stylesheet" href='{% static "vendor/ng-table/dist/ng-table.css"%}' />
    <link rel="stylesheet" href='{% static "vendor/datatables/media/css/dataTables.bootstrap.css"%}' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='{% static "vendor/components-font-awesome/css/font-awesome.min.css"%}'>
    <link rel="stylesheet" href='{% static "vendor/select2/dist/css/select2.min.css"%}'>
    <link rel="stylesheet" href='{% static "vendor/multiple-select/multiple-select.css"%}'>
    <link rel="stylesheet" href='{% static "vendor/nvd3/puild/nv.d3.css"%}'>
    <link rel="stylesheet" href='{% static "vendor/angular-datatables/dist/css/angular-datatables.min.css"%}'>
    <link rel="stylesheet" href='{% static "vendor/leaflet/dist/leaflet.css"%}' />
    <link rel="stylesheet" href='{% static "css/tooltipstyle.css"%}' />
    <link rel="stylesheet" href='{% static "css/additional-styles.css"%}' />

    <style>
        #tooltip {
            position: absolute;
            z-index: 2;
            background: #000000;
            border-radius: 10px;
            width: 105px;
            height: 8%;
            color: #ffffff;
            font-size: 14px;
            padding: 10px;
            top: -150px;
            left: -150px;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }

        #tooltip p {
            width: 120px;
    bottom: 100%;
            top: 50%;
    margin-inside: 10%;
        }

        #tooltip p.value {
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="container" id="main-container">
    <div class="row" id="header">
                <div class="col-md-2" id="coart-of-arms" align="left"><img src='{% static "images/coart-of-arms.png" %}'></div>
                <div class="col-md-8" id="site-name">
                    <div class="major"><h3 class="text-center"><b>MINISTRY OF HEALTH: UNEPI EPI DASHBOARD </b></h3></div>
                    <br>
                    <div class="minor"><h6 class="text-center"><b>REPUBLIC OF UGANDA</b></h6></div>

                </div>
                <div class="col-md-2" id="ug-flag" align="right"><img src='{% static "images/ug-flag.png" %}'></div>
            </div>

    <div class="row" id="main-nav">


        <div id="navbar">
            <ul class="nav navbar-nav">
                {% with menu=menus.main %}{% include "bootstrap-navbar.html" %}{% endwith %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span style="font-size: 30px;vertical-align: middle;margin-right:25px;"></span></li>
            </ul>
            <ul class=" nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a class="login" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>


    {% bootstrap_messages %}
    {% block content %}
    {% endblock content %}
<!-- Tooltip div -->
		<div id="tooltip">
		<p class="name"></p>
		<p class="value"></p>
		</div>

<script type="text/javascript" src='{% static "vendor/jquery/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/bootstrap/dist/js/bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/datatables/media/js/jquery.dataTables.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/datatables/media/js/dataTables.bootstrap.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/datatables-fixedcolumns/js/dataTables.fixedColumns.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/datatables-fixedheader/js/dataTables.fixedHeader.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/angular/angular.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/angular-ui-router/release/angular-ui-router.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/angular-bootstrap/ui-bootstrap-tpls.min.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/Chart.js/Chart.min.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/angular-chart.js/dist/angular-chart.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/lodash/lodash.min.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/checklist-model/checklist-model.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/d3/d3.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/nvd3/puild/nv.d3.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/c3/c3.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/angular-nvd3/dist/angular-nvd3.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/angular-chart/angular-chart.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/ng-table/dist/ng-table.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/angular-datatables/dist/angular-datatables.min.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/html2canvas/build/html2canvas.min.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/jspdf/dist/jspdf.min.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/d3-legend/d3-legend.min.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/rgbcolor/index.js"%}'></script>
<script type="text/javascript" src='{% static "vendor/canvg/dist/canvg.min.js"%}'></script>
<script type="text/javascript" src='{% static "app/app.js" %}'></script>
<script type="text/javascript" src='{% static "app/routes.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/filterService.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/stockService.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/fridgeService.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/coverageService.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/annualService.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/mapSupportService.js" %}'></script>
<script type="text/javascript" src='{% static "app/shared/mainController.js" %}'></script>
<script type="text/javascript" src='{% static "app/common/helpers.js" %}'></script>
<script type="text/javascript" src='{% static "app/components/coverage/coverageController.js" %}'></script>
<script type="text/javascript" src='{% static "app/components/fridge/fridgeController.js" %}'></script>
<script type="text/javascript" src='{% static "app/components/stock/stockController.js" %}'></script>
<script type="text/javascript" src='{% static "app/components/unepi/UnepiController.js" %}'></script>
<script type="text/javascript" src='{% static "app/components/planning/planningController.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/leaflet/dist/leaflet.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/leaflet/dist/leaflet.shpfile.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/shp/dist/shp.js" %}'></script>

{% block js %}
{% endblock js %}
    </div>
</body>
</html>
