<div class="row range_filter">
    <div class="col-md-12">
        <h3 for="">FILTERS</h3>
        <select name="cycle" class="form-control cycle-select" ng-model="startCycle"
            ng-options="cycle for cycle in cycles">
        </select>
    <div class="spacer">
        <h5 class="text-center"> - </h5>
    </div>
        <select name="cycle" class="form-control cycle-select" ng-model="endCycle" ng-options="cycle for cycle in endCycles">
        </select>
    </div>
        
</div>
<div class="row">

    <div class="col-md-12">
     <h3>KEY METRICS</h3>
        <div class="quality_test" ui-sref-active="quality_test_active">
            <a ui-sref="home.coverage">
                <span class="quality_test__metric"> 0</span>
                <span class="quality_test__description">{{"Stock on hand" | uppercase}}</span>
            </a>
        </div>
        <div class="quality_test" ui-sref-active="quality_test_active">
            <a ui-sref="home.webVsPaper">
                <span class="quality_test__metric">{{webRate}} 0</span>
                <span class="quality_test__description">{{"Amc" | uppercase}}</span>
            </a>
        </div>
        <div class="quality_test" ui-sref-active="quality_test_active">
            <a ui-sref="home.guidlineAdherenceRate">
                <span class="quality_test__metric"> 0</span>
                <span class="quality_test__description">{{"Months of stock left" | uppercase}}</span>
            </a>
        </div>

        <div class="quality_test quality_test_add" ui-sref-active="quality_test_active">
            <a ui-sref="home.addTests">
                <span class="quality_test__metric glyphicon glyphicon-plus"></span>
                <span class="quality_test__description">CLICK TO SHOW MORE STOCK</span>
            </a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="test-area clearfix">
            <div ui-view></div>
        </div>
    </div>

</div>

